virtual_env
/server/build
/server/db.sqlite
/server/tmp*
/python_virtual
/virtual_env
__pycache__/
*.py[cod]
*.tmp
.idea/
*.sqlite
/spinalcordweb/
/py_virtual
/pyvirtual
/scripts
/client/node_modules
/client/build
/client/app/bower_components
/client/dist
/client/bower_components
/server/server/static/tmp
*.egg*/
*.egg-info/
isct_download.zip
/server/server/queuing/redis_dump
demo.mp4
